/* Global CSS */
:root {
  --primary-color: #56cbf9;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 00 auto;
}

ul {
  list-style: none;
}

#main-content {
  min-height: 90vh;
}
