<header id="main-header">
  <div class="container">
    <h1>LOGO</h1>
    <nav>
      {% if request.user.is_authenticated %}
        <a href="{% url 'my-courses' %}" class="primary-button">Meus cursos</a>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="logout-button">Sair</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="primary-button">Fazer Login</a>
      {% endif %}
    </nav>
  </div>
</header>